<nav class="navbar navbar-light navbar-expand-lg bg-light">
    <div class="container">
        <a class="navbar-brand mb-0 h1" href="/">
            <img src="images/logo.png" width="32" height="32" class="d-inline-block align-top" alt=""> AROTAS
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/cadastro">Cadastrar veículo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/frota">Frota</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/corridas">Relatório de viagens</a>
                </li>
            </ul>
        </div>
    </div>
</nav>